.grid-container {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

mat-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-card-title > mat-icon {
    margin-right: 15px;
}

mat-card-header{
    margin-bottom: 15px;
}

mat-card-content{
    margin-bottom: 15px;
}
