<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon aria-hidden="false" fontIcon="space_dashboard"></mat-icon>
            <span>Dashboard</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Here is a reserved spaced for a dashboard overview.<br>
            Graphs like total fetched queries, uptime, ... could be displayed<br>
            Style the container component like capacity: only outline, transparent background
        </p>
        <p>
            Create a new dashboard-component and display it here, on the start page
        </p>
    </mat-card-content>
</mat-card>
<div class="grid-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-icon aria-hidden="false" fontIcon="query_stats"></mat-icon>
                <span>Capacity</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Show the current capacity and predictions <br>
                how many people will be there.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button routerLink="/capacity" routerLinkActive="active" ariaCurrentWhenActive="page">Show
                capacity</a>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <mat-icon aria-hidden="false" fontIcon="sports_gymnastics"></mat-icon>
                <span>Bookings</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Set up an automated plan to book future courses.<br>
                Courses will be booked automatically on the day before.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button routerLink="/bookings" routerLinkActive="active" ariaCurrentWhenActive="page">Manage
                bookings</a>
        </mat-card-actions>
    </mat-card>
</div>