<div class="current-container">
    <div class="chart-container">
        <div echarts [options]="chartOption" class="current-chart"></div>
    </div>
    <div class="percentage-container" *ngIf="currentCapacity">
        <div class="percentage">
            {{capacityPercentage}}%
        </div>
    </div>
    <div class="numbers-container" *ngIf="currentCapacity">
        <div class="numbers-element">
            <mat-icon fontIcon="person"></mat-icon>
            <span> {{currentCapacity.currentlyCheckedInCount}}</span>
        </div>
        <div class="numbers-element">
            <div class="icon">
                <mat-icon fontIcon="groups"></mat-icon>
                <div class="icon-label">max</div>
            </div>
            <span class="bottom">{{currentCapacity.maximumAllowedCheckedIn}}</span>
        </div>
    </div>
</div>
