mat-card {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: none;
}

mat-card-header {
    color: #0000008a;
}

mat-divider {
    margin: 15px 0;
}

.current-chart {
    height: 600px;
  }